<style>
  body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light grey for sliding effect */
    transition: background-color 0.3s ease;
  }

  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .btn-search i {
    display: inline;
    margin-right: 0.5rem;
  }

  .input-search {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }

  .navbar-toggler {
    border: none;
    background: transparent; /* Transparent background */
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%2810, 10, 10, 0.9%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-top: 1px solid #dcdcdc;
  }

  .navbar-collapse.show {
    max-height: 500px; /* Adjust as per content */
    transition: max-height 0.3s ease-in;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 input-search"
            type="search"
            placeholder="Search destinations"
            aria-label="Search"
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Host</a>
        <% if (!currUser) { %>
        <a class="nav-link" aria-current="page" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if (currUser) { %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
