.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .FeatureCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }
  